body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    /* font-size: 200%; */

}

h1 {
    color: #66BFBF;
    font-size: 562.5%;
    margin: 50px auto 0 auto;
    font-family: 'sacramento', cursive;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;

}

div {
    background-color: #E4F9F5;
}

p {
    line-height: 2;
}

hr {
    border: dotted #EAF6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;

}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

/* img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
} */
.illustrator {
    color: #66BFBF;

}

img#tan {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

img#tann {

    border-radius: 50%;

    margin-right: 30px;
}

img#tannn {

    border-radius: 50%;


    margin-left: 30px;


}





a {
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    color: #11999E;
    text-decoration: none;
}

a: hover {
    color: #EAF6F6;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.skills {

    margin: auto;
    line-height: 2;
    text-align: left;
}



.middle-container {
    margin: 0 0;

}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}



.top-cloud {
    position: absolute;
    right: 200px;
    top: 40px;

}

.bottom-cloud {
    position: absolute;
    left: 170px;
    bottom: 300px;
}

.code-img {
    width: 25%;
    float: left;
}

.chilli-img {

    width: 25%;
    float: right;


}

.contact-message {
    width: 40%;
}

.btn {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    width: 170px;
    height: 59px;
    border-width: 1px;
    color: #fff;
    border-color: rgba(11, 114, 118, 1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
    background: rgba(20, 145, 151, 1);
    padding: 10px;

}

.btn :hover {
    background: rgba(24, 169, 174, 1);
}

/*.work {

    width: 25%;
    float: center;


}*/

img#tanisha {

    margin-left: auto;
    margin-right: auto;
    display: block;

    border-radius: 50%;
    height: 300px;
    width: 300px;

}